*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Comfortaa', cursive;
    background-color: black;
    color: white;
}

/* i {
    padding: 0 13px 0 0;
} */

input {
    margin-left: 10px;
}

header{
    border-bottom: 5px solid  rgb(255, 0, 0);
}

.container{
    width: 95%;
    margin: auto;
    margin-top: 35px;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0;
}

.nav h2{
    font-size: 2rem;
}

.search-box{
    position: relative;
    width:  350px;
}

.search-box input{
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: 8px;
    border-radius: 25px;
    outline: none;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    border: 1px solid lightgrey;
}

input:focus{
    box-shadow: 0 0 5px rgb(230, 6, 6);
    border: 2px solid rgb(255, 0, 0);
}

.search-box i{
    color: black;
    position: absolute;
    top: 25%;
    right: 4%;
    transition: 0.4s;
}
.search-box i:hover{
    color:  rgb(255, 0, 0);
}

.err-window {
    background-color: rgb(247, 233, 219);
    width: 100%;
    text-align: center;
    height: 25em;
    border-radius: 20px;
    border: solid 1px #424141;
    display: none;
}

.err-window h2 {
  padding-top: 7em;
}

.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.img{
    width: 380px;
    height: 200px;
    margin-top: 15px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 2px;
}

@media(max-width:768px){
    .img{
        width: 100%;
    }

    .nav{
        justify-content: center;
    }
    .nav h2{
        padding: 5px 0;
    }
}

@media(max-width:480px){
    .nav{
        text-align: center;
        font-size: 1.5rem;
    }

    .search-box{
        width: 80%;
        margin: auto;
    }
    .search-box i{
        font-size: .7rem;
    }
}